html, body {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.container {
    display: flex;
}
.container-column {
    display: flex;
    flex-direction: column;
}
.vh100 {
    height: 100vh;
}
.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content:space-around;
    align-items: center;
}